.recipeLink,
.workshopLink {
  text-align: center;
  direction: rtl;
}

.logo {
  margin: 0 auto;
  border-radius: 50%;
}

.logo:hover {
  cursor: pointer;
}

@media (max-width: 950px) {
  .likesLink {
    display: none;
  }
}

@media (max-width: 700px) {
  .workshopLink {
    display: none;
  }
}

@media (max-width: 600px) {
  .recipeLink {
    display: none;
  }
  .logo {
    margin-right: 20px;
  }
}

@media (max-width: 300px) {
  .instegramIcon {
    display: none;
  }
}
